:root {
	--black: #202022;
	--light-green: #195765;
	--blue: #99ccb8;
	--yellow: #f0deb0;
	--orange: #ed9e35;
	--brown: #5d3c2c;
	--carrot: #f46f1d;
	--dark-orange: #ca672b;
	--olive: #a3bd99;
	--mint: #93dfdf;

	--size: 50px;
	--ratio: 1.2;
	--transition-time:0.3s;
}

body {
	background-color: var(--blue);
}
* {
	box-sizing: border-box;
}

.main{
	width: 200px;
 	border: 1px dotted black;
}

h2 {
  	margin: 0px;
	padding: 0px;
	font-size: 20px;
	font-family: 'Comic Neue', cursive;
	color: var(--light-green);
	text-align: center;
}

.title {
	font-size: 40px;
	font-family: 'Comic Neue', cursive;
	color: var(--light-green);
	margin: 20px auto;
	text-align: center;
}

.body-wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: baseline;
	justify-content: center;
	align-self: baseline;
	margin: 0 auto;

}
.button {
	/*box-shadow: 10px 15px 5px ;
	border: 3px solid var(--blue);*/
	border: 1px #195765;
	outline: none;
	width: 75%;
	max-width: 400px;
	background-color: var(--light-green);
	text-align: center;
	vertical-align: middle;
	margin: 5px auto;
	/* border-radius: 2px; */
	border-radius: 50px;
	padding: 0px;
}

.button:hover {
	opacity: 0.85;
	transition-duration: 0.15s;

	/* border-radius: 4px; */
}
.button-text {
	color: var(--blue);
	margin: 15px 10px;
	font-size: 20px;
	font-weight: 700;
}

.shadow {
	box-shadow: 0 8px 15px rgba(60,60,60,0.4), 0px 3px 5px rgba(60,60,60,0.4);
	transition: all 0.3s cubic-bezier(#ffcc66);
}

.body-img {
	width: 100%;
	height:100%;
	max-width: 300px;
	max-height: 350px;
	display: block;
	margin: 15px auto;
}

.button-wrapper {
	display:flex;
	align-items: baseline;
	justify-content:center;
	width: 380px;
}

.button-wrapper.center {
	margin: 10px auto;
}

.button-wrapper > h2{
	margin: 0 10px;
}

.light-up {
	background-image: -webkit-linear-gradient(210deg, #ed9e35 0%, #ed9e35 100%);
	background-image: -o-linear-gradient(210deg, #ed9e35 0%, #f0deb0 100%);
	background-image: linear-gradient(300deg, #ed9e35 0%, #ed9e35 100%);
	background-repeat: no-repeat;
	background-size: 100% 0em;
	background-position: 0 100%;
	transition: background-size 0.3s ease-out;
}

.light-up:hover {
	background-size: 100% 100%;
	font-size: 35px;
}

.light-up:hover > p, .button:hover > p {
	color: var(--light-green);
}


.switch {
	position: relative;
	/* display: inline-block; */
	width: 60px;
	height: 34px;
	align-self:center;

}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slide {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--light-green);
	-webkit-transition: .4s;
	transition: .4s;
}

.slide:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slide {
	background-color: var(--orange);
}

input:focus + .slide {
	box-shadow: 0 0 1px var(--orange);
}

input:checked + .slide:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.slide.round {
	border-radius: 34px;
}
.slide.round:before {
	border-radius: 50%;
}

.slidecontainer {
	width: 100%;
}

.slider {
	-webkit-appearance: none;
	appearance: none;
	width: 70%;
	max-width: 380px;
	height: 25px;
	background: white;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	border-radius: 50px;

	margin: 10px auto;
	display: block;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 30px;
	height: 30px;
	background: var(--light-green);
	cursor: pointer;
	border-radius: 40px;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: var(--light-green);
	cursor: pointer;
	border-radius: 40px;
}


/*
.icon-button {
	border-radius: 0px;
	width: 110px;
	height: 100px;
	vertical-align: middle;
	border: 1px 1px var(--light-green);
	outline: none;
	margin: 0 auto;
	background-color: var(--blue);

	background-image: url("/static/images/play.svg");
	background-repeat: no-repeat;
} */

/* .icon-button:hover {
	opacity: 0.9;
} */

.icon {
	width:52px;
	height:52px;
}

.center {
	margin: 0 auto;
}

.play {
	width: 100px;
	height: 100px;
	background-image: url("/static/images/play2.png");
	background-repeat: no-repeat;
	background-position:center;
	background-size: 40px;
}

.pressed-button {
	background-color: var(--orange);
	opacity: 0.8;
	background-image: url("/static/images/stop.png");
	background-repeat: no-repeat;
}
