<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../static/css/main.css">
	<title>Document</title>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;700&display=swap');
	</style>
</head>
<body>
	<header class="header-wrapper">
	</header>
	<main class="body-wrapper">
		<h1 class="title">Пейо, пеещето радио</h1>
		<img class="body-img" src="static/images/player.svg" alt="TAINA MAINA">
		<button class="button light-up">
			<p class="button-text">Play Veselina</p>
		</button>
	</main>
	<footer class="footer-wrapper">
	</footer>
</body>
</html
