<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="theme-color" content="#195765">
	<link rel="stylesheet" href="../static/css/main.css">
	<title>Пейо</title>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;700&display=swap');
	</style>
</head>

<body>
	<header class="header-wrapper">
	</header>
	<main class="body-wrapper text">
		<h1 class="title">Пейо, светещото радио</h1>
		<img class="body-img" src="static/images/player.svg" alt="TAINA MAINA">

		<form id="toggleBar" class="button-wrapper horizontal center">
			<h2 class="">Хардуер</h2>
			<label class="switch">
				<input id="checkbox" onChange="toggleMode();" type="checkbox">
				<span class="slide round"></span>
			</label>
			<h2 class="">Софтуер</h2>
		</form>
		<div class="button-wrapper vertical center">
				<button type="submit" id="radio" class="form button light-up shadow center" onclick="turnonRadio();">
					<p class="button-text">Пусни Веселина</p>
				</button>
				<button type="submit" id="spotify" class="form center button light-up shadow" onclick="turnonSpotify();">
					<p class="button-text">Пусни Spotify</p>
				</button>
		</div>
		<form class="sliderForm slidecontainer"  method="get">
			<input onChange="readVolume();" type="range" min="1" max="1023" value="512" class="slider" id="myRange">
		</form>
		<button type="button" onclick="toggleButton();" id="tog" class="button play shadow"></button>
	</main>
	<footer class="footer-wrapper">
	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript">
		function toggleButton() {
			$(document.getElementById('tog')).toggleClass("pressed-button");
			var result = document.getElementById('tog')

			$.ajax({
				data : {
					play : $('#tog').val()
				},
				type: 'POST',
				url: '/play'
			})
			.done(function(data) {
				if(!data.softwareOn) {
					window.alert('You are in hardware mode.')
				}
			});

			event.preventDefault();
		};
		function toggleSwitch() {
			$(document.getElementById('switch')).toggleClass("switched");
		};
		function turnonRadio() {
			var result = document.getElementById('radio');
			// console.log("purvo" + result)
			$.ajax({
				data : {
					radio : $("#radio").val()
				},
				type: 'POST',
				url: '/radio'
			})
			.done(function(data) {
				if(!data.softwareOn) {
					window.alert('You are in hardware mode.')
				}
			});

			event.preventDefault();
		};
		function turnonSpotify() {
			var result = document.getElementById('spotify');
			// console.log("purvo" + result)
			$.ajax({
				data : {
					spotify : $("#spotify").val()
				},
				type: 'POST',
				url: '/spotify'
			})
			.done(function(data) {
				if(!data.softwareOn) {
					window.alert('You are in hardware mode.')
				}
			});

			event.preventDefault();
		};

		function submitForm() {
			$(document.getElementById('toggle-bar')).submit();
		};

		function readVolume() {
			var slider = document.getElementById("myRange");

			slider.onmouseup = function () {
				$.ajax({
					data : {
						myRange : $('#myRange').val()
					},
					type: 'POST',
					url: '/volume'
				})
				.done(function(data) {
					if(!data.softwareOn) {
						window.alert('You are in hardware mode.')
					}
					else {
						// window.alert('volume' + slider.value);
					}
				});

				event.preventDefault();
				console.log(slider.value);
			}
		}

		function toggleMode() {
			var result = document.getElementById('checkbox').checked;

			$.ajax({
				data : {
					toggleBar : result
				},
				type: 'POST',
				url: '/mode'
			})
			.done(function(data) {

			});

			event.preventDefault();
		}

		// $(".icon-button").click(function() {
		// 	$(this).toggleClass("pressed-button");
		// });
	</script>
</body>
</html
