<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../static/css/main.css">
	<title>Пейо</title>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;700&display=swap');
	</style>
</head>

<body>
	<header class="header-wrapper">
	</header>
	<main class="body-wrapper text">
		<h1 class="title">Пейо, светещото радио</h1>
		<img class="body-img" src="static/images/player.svg" alt="TAINA MAINA">

		<div class="button-wrapper horizontal center">
			<h2 class="">Хардуер</h2>
			<label class="switch">
				<input type="checkbox">
				<span class="slide round"></span>
			</label>
			<h2 class="">Софтуер</h2>
		</div>
		<div class="button-wrapper vertical center">
			<form action="/radio" class="form center" method="get">
				<button type="submit" class="button light-up shadow" onclick="turnonRadio();">
					<p class="button-text">Пусни Веселина</p>
				</button>
			</form>
			<form action="/spotify" class="form center" method="get">
				<button type="submit" class="button light-up shadow" onclick="turnonSpotify();">
					<p class="button-text">Пусни Spotify</p>
				</button>
			</form>
		</div>
		<div class="slidecontainer">
			<input type="range" min="1" max="100" value="50" class="slider" id="myRange">
		</div>
		<button type="button" onclick="toggle();" id="tog" class="button play shadow"></button>
	</main>
	<footer class="footer-wrapper">
	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript">
		function toggle() {
			$(document.getElementById('tog')).toggleClass("pressed-button");
		};

		function turnonRadio() {

		};
		function turnonSpotify() {

		};

		// $(".icon-button").click(function() {
		// 	$(this).toggleClass("pressed-button");
		// });
	</script>
</body>
</html
